.modal {
  position: fixed;
  height: 70%;
  width: 70%;
  min-width: 375px;
  min-height: 375px;
  top: 50%;
  left: 50%;
  display: block;
  z-index: 11;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  background-color: var(--theme-color-3);
  border: 2px solid var(--theme-color-2);
  box-shadow: 0vh 0vh 100vh 20px black;
  overflow: visible;
}

.modal > * {
  height: 100%;
}

.modal:after {
  content: "×";
  top: -3rem;
  right: 0;
  margin: .5rem;
  position: fixed;
  cursor: pointer;
  font-size: 2.5rem;
  line-height: 1rem;
}

.modal:after:hover {
  color: var(--highlight-color-1);
}

/* .modal:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
} */