.results {
	grid-area: results;
	display: none;
	padding: 1em;
}


.results.show {
	display: block;
}

#results {
	grid-template-areas:
		"header"
		"options"
		"list"
		"footer";
	grid-template-columns: auto;
	grid-template-rows: auto auto 1fr auto;
}

.results__header {
	display: grid;
	grid-template-areas: "count title pagination";
	grid-template-columns: 1fr 8em 1fr;
	font-family: Cinzel;
	align-items: center;
	grid-area: header;
}

.results__options__container {
	grid-area: options;
}

.results__header__count {
	display: flex;
	grid-area: count;
}

.results__header__page-size-input {
	border: none;
	font-family: Cinzel;
	width: 1.5em;
	font-size: 1rem;
	text-align: right;
}

.results__header__title {
	text-align: center;
	grid-area: title;
}

.results__header__pagination {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	grid-area: pagination;
}

.results__options .pagination__container {
	display: none;
	justify-content: flex-start;
}

.results__options .pagination__title--inner {
	display: none;
}

.pagination__container {
	align-items: center;
	display: grid;
	grid-template-areas:
		"left3" "left" "center" "right" "right3";
	grid-template-columns: 1fr 1fr auto 1fr 1fr;
}

.pagination__arrow {
	all: unset;
	padding: 0 .25em;
	cursor: pointer;
}
.pagination__arrow:disabled {
	cursor: not-allowed;
	visibility: hidden;
}
.pagination__arrow:hover {
	color: var(--highlight-color-1);
}
.pagination__arrow--right {
	transform: scale(-1);
}
.pagination__text {
	padding: 0 .25em;
}

.results__options {
	font-family: Cinzel;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding: .5em 0;
}

.results__fieldset {
	display: block;
	padding-bottom: .5em;
}

.results__fieldset__title {
	display: inline-flex;
	align-items: center;
	font-weight: 500;
	padding-right: .25em;
}

.results__options a {
	padding: .25em;
}

.results__options__spacer {
	margin: 0 1em;
}

.results__options__sorts__dropdown {
	display: inline-flex;
	width: 10em;
}

.results__list {
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
	max-height: 85vh;
	justify-content: center;
	margin: 0 -1rem;
	grid-area: list;
}

.results__list-item {
	display: inline-block;
}

.results__no-results {
	display: flex;
	align-items: center;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.results__footer {
	grid-area: footer;
	font-family: Cinzel;
}

.results__footer__pagination {
	display: flex;
	justify-content: center;
}


@media screen and ( max-width: 480px ) {
	.results__header {
		display: grid;
		grid-template-areas:
			"title"
			"count"
			"pagination";
		grid-template-columns: auto;
	}

	.results__header__count {
		display: none;
	}

	.results__header .pagination__container {
		display: none;
	}

	.pagination {
		justify-content: center;
	}

	.pagination__arrow {
		font-size: 1.25rem;
	}

	.results__options {
		flex-direction: column;
		font-size: 1.25rem;
		align-items: flex-start;
	}

	.results__options__spacer {
		display: none;
	}

	.results__fieldset {
		display: block;
		align-items: center;
		min-height: 2rem;
	}

	.results__fieldset__title {
		display: inline-flex;
		align-items: center;
		font-weight: 500;
		width: 3em;
	}
}