.search {
	font-family: Cinzel;
	width: 300px;
	padding: 1em;
	grid-area: search;
	display: none;
}

.search.show {
	display: block;
}

.search__header {
	display: grid;
	grid-template-areas: "left center right";
	grid-template-columns: 1rem 1fr 1rem;
}

.search__header__title {
	text-align: center;
}

.search__options {
	position: relative;
	cursor: pointer;
	width: 1rem;
	font-size: 1.25rem;
}

.search__options:hover {
	transform: scale(1.1);
}

.search__options__label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;
	cursor: pointer;
}

.search__options__dropdown {
	border: none;
	color: transparent;
	cursor: pointer;
}

.search__options__dropdown option {
	color: black;
}

.search .view--compact legend {
	display: none;
}
.search .view--comfortable .search__fieldset__title {
	display: none;
}

.search .view--minimal legend,
.search .view--minimal .search__fieldset__title {
	display: none;
}

.search .view--compact .search__fieldset {
	position: relative;
	display: grid;
	grid-template-areas:
		"title group clear"
		"more more more";
	grid-template-columns: 5em 1fr 0;
	grid-template-rows: auto;
}

.search__fieldset__title {
	display: flex;
	grid-area: title;
	align-items: center;
	font-weight: 500;
}

.search__fieldset__group {
	position: relative;
	grid-area: group;
}

.search__fieldset__more-options {
	grid-area: more;
	grid-column: span 2;
}

.search__fieldset:focus-within {
	border-color: var(--theme-color-1);
}

.search__fieldset__input {
	flex-grow: 1;
	display: inline-block;
}

.search__fieldset__label {
	display: inline-block;
	width: 100%;
	padding-bottom: .5em;
}

/* .search__fieldset__label:after {
	display:block;
  content: '';
	border-bottom: solid 2px var(--theme-color-1);
	transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.search__fieldset__label:hover:after,
.search__fieldset__label:focus:after {
	transform: scaleX(1);
} */

.search__fieldset:hover .search__fieldset__clear,
.search__fieldset:focus-within .search__fieldset__clear,
.search__fieldset__clear:hover {
	visibility: visible;
}

.search__fieldset__clear {
	display: none;
	visibility: hidden;
	flex: 0 1;
	color: var(--theme-color-1);
	border: none;
	background: transparent;
	font-size: 2rem;
	font-family: Cinzel;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	top: 0;
	right: 0;
	width: .5em;
	margin-right: -.5em;
	grid-area: clear;
	line-height: 1.5rem;
}

.search__fieldset__clear:hover {
	font-weight: bold;
}

.color-picker__list, .rarity-picker__list, .type-picker__list {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.color-picker__list li, .rarity-picker__list li, .type-picker__list li {
	flex-grow: 0;
}

.type-picker__list label {
	height: 2rem;
	display: flex;
	align-items: center;
	font-size: 1.33rem;
}

.type-picker__list img {
	object-fit: contain;
	height: 100%;
	padding: 2px;
}

.color-picker__list label, .rarity-picker__list label, .type-picker__list label {
	border-radius: 50%;
	width: 2rem;
	cursor: pointer;
	background: #666;
}

.type-picker__list label {
	border-radius: 2px;
}

.search-refiner__list {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 0.5em;
}

.search-refiner__radio__label {
	border: none;
	padding: .25em;
}

.search-refiner__radio__button + .search-refiner__radio__label {
	border: none;
}

.search-refiner__radio__button:checked + .search-refiner__radio__label {
	text-decoration: underline;
	font-weight: bold;
}

.search-refiner label {
	cursor: pointer;
}

.range-setter {
	display: flex;
	position: relative;
	padding-bottom: .5em;
}

.range-setter__input {
	text-align: center;
}

.range-setter__divider {
	font-size: 1.25rem;
	padding: 0 .5em;
}

.search__clear-all {
	padding: 1em;
	font-family: Cinzel;
	font-size: 1.25rem;
	width: 100%;
	cursor: pointer;
	font-weight: bold;
	background: transparent;
	border: none;
	color: var(--theme-color-1);
}

.search__clear-all:hover {
	text-decoration: underline;
	color: var(--highlight-color-1);
}

.search__see-results {
	display: none;
	padding: 1em;
	font-family: Cinzel;
	font-size: 1.25rem;
	width: 100%;
	cursor: pointer;
	font-weight: bold;
	background: transparent;
	border: none;
	color: var(--theme-color-1);
}

@media screen and ( max-width: 480px ) {
	.search {
		width: 100vw;
	}

	.search-refiner__list {
		font-size: 1.25rem;
	}

	.search__see-results {
		display: block;
	}
}
